<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <title> Media Page </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body id="media-body">

    <div>
      <nav class="navBar">

        <a class="btn buttons darkGreen" href="/">
          Home
        </a>

        <a class="btn buttons darkBlue" href="/about">
          About
        </a>

      </nav>

    </div>

    <header class="media-header">

      <h1> Blooper Reel </h1>

    </header>

    <div class="media-main">


      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4pOz8G9P0vo" frameborder="0" gesture="media" allowfullscreen></iframe>
      </div>

      <div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/kLcB82y55Vk" frameborder="0" gesture="media" allowfullscreen></iframe>

      </div>

      <div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/KBvWA2Xrrlg" frameborder="0" gesture="media" allowfullscreen></iframe>

      </div>

      <div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/k2pBvCtwli8" frameborder="0" gesture="media" allowfullscreen></iframe>

      </div>

      <div class="gifs">

          <img class="gif-box" src="/images/jackyChanSilly.gif">

        <a id="gif-btn" class="btn btn-success">
          <span class="glyphicon glyphicon-hand-up"></span>
          <b>   Click for New gif   </b>
        </a>

      </div>

    </div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script src="/js/script.js"></script>

  </body>

</html>
